/* Color scheme: */

:root {
  --primaryDark: #171414;
  --accentGrey: #1e1c1c;
  --primaryLightrey: #e3e3e3;
  --darkRed: #2f0000;
  --bloodRed: #840404;
  --accentRed: #b80000;
  --darkOrange: #b64000;
  --lightOrange: #db7210;
}

/* General rules */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primaryDark);
  font-family: "Balthazar", serif;
  margin: 0;
}

h1,
h2 {
  font-family: "Rubik Wet Paint", system-ui;
}

h2 {
  font-size: 34px;
  font-weight: 400;
  color: #b80000;
}

h3 {
  font-size: 1.5rem;
}

main {
  position: relative;
}

h3,
h4,
p,
a,
span {
  color: var(--primaryLightrey);
  text-align: center;
}

/* h2 {
  margin-top: 20%;
} */

button {
  background-color: var(--accentRed);
  text-align: center;
  font-family: "Balthazar", serif;
}
  .hover:hover {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.225);
  transform: scale(1.1);
  transition: all ease 0.3s;
  }

  .lightHover:hover{
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 7px 30px rgba(166,173,201,.2);
  }

  .shadow {
    border-radius: 10px;
  }
@media screen and (width > 1020px) {
  h2 {
    font-size: 60px;
  }
}
