/* NAVBAR */
nav {
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 5;
  background-image: url("assets/navPhone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}

.navbarLeft {
  width: 20vw;
}

.navbarRight {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}

.navLogo {
  height: 5vh;
  width: auto;
  object-fit: cover;
}

/* -------------------------------- TEST BLOOD -------------------------------- */
.blood-container {
  position: absolute;
  bottom: -80%;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.blood {
  position: absolute;
  width: 4px;
  height: 10px;
  background: linear-gradient(to bottom, #b00, #300);
  border-radius: 50%;
  opacity: 0.9;
  animation: dropAnim 5s linear forwards;
}

@keyframes dropAnim {
  0% {
    transform: translateY(0);
    height: 6px;
  }
  50% {
    height: 25px;
  }
  100% {
    transform: translateY(80px);
    opacity: 0;
  }
}

@media screen and (width > 450px) {
  nav {
    height: 14vh;
    background-image: url("assets/navDesktop.png");
    background-size: cover;
  }

  .navbar {
    height: 90%;
  }

  .navLogo {
    height: 6.5vh;
  }

  .navbarLeft {
    width: 40vw;
  }

  .navbarRight {
    width: 60vw;
  }
}

@media screen and (width > 800px) {
  /* Navbar */

  nav {
    height: 16vh;
    background-image: url("assets/navDesktop-cropped.png");
    background-size: cover;
    background-position: bottom center;
  }

  .navLogo {
    height: 8vh;
    width: auto;
  }

  .navbarLeft {
    width: 50vw;
  }

  .navbarRight {
    width: 50vw;
  }

  .navbarRight div p {
    font-size: 1.5rem;
  }
}
