/* MEDIA QUERY */
@media screen and (width > 450px) {
  /* ----- General rules ----- */
  h2 {
    font-size: 2rem;
  }

  h4,
  p {
    font-size: 1rem;
  }

  h2 {
    margin-top: 7.5%;
  }

  /* ----- Header ----- */
  .headerImage {
    height: 50vh;
  }

  .headerLogo {
    transform: translate(-50%, -30%);
  }

  /* ----- CURRENT SECTION ----- */
  .current {
    width: 100vw;
  }

  .btnSeeAllMovies {
    width: auto;
    height: 7vh;
    top: 7%;
    right: 10%;
  }

  .currentPosterGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 3fr));
    grid-template-rows: 1fr;
    overflow: visible;
    gap: 40px;
    width: 100vw;
  }

  .currentPosterContainer {
    min-width: 10vw;
    width: 100%;
  }

  .currentPoster {
    border-radius: 20px;
  }

  /* ----- Offers ----- */
  .offersSection {
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
  }

  .offerGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
    grid-template-rows: 1fr;
    gap: 60px;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 25%;
  }

  .textPopcorn,
  .textSoda {
    font-size: 1.2rem;
  }

  .sodaCups {
    bottom: 5%;
  }

  .offersIcon {
    transform: translate(-50%, -90%);
  }

  button.seeAllOffers {
    height: 10vh;
    font-size: 1rem;
  }

  /* ----- Coming section ----- */
  .comingGridMobile {
    margin-left: 20%;
    margin-right: 20%;
  }

  /* ----- Newsletter ----- */

  .hrLower {
    margin-bottom: 10%;
  }

  /* ----- Footer Section ----- */

  .footerGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    gap: 80px;
    margin-left: 15%;
    margin-right: 15%;
    align-items: start;
    margin-top: 5%;
  }

  .footerDiv p {
    font-size: 1rem;
  }

  .footerLogo {
    height: 7vh;
  }

  footer {
    background-position: top center;
  }
}

@media screen and (width > 800px) {
  /* General rules */
  h2,
  h4 {
    font-size: 2rem;
  }

  .current h4,
  .current p {
    font-size: 1rem;
  }

  h2 {
    margin-top: 5%;
  }

  /* Header */
  .headerImage {
    height: 60vh;
  }

  .headerLogo {
    transform: translate(-50%, -35%);
  }

  /* Animation: Flicker */
  .flicker {
    display: block;
    background-color: var(--primaryDark);
    color: var(--primaryLightrey);
    text-shadow: 0 0 10px #ff0000;
    animation: flicker 3s infinite;
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 101;
    border-radius: 50%;
    border-color: var(--lightOrange);
    width: 4.5vw;
    aspect-ratio: 1;
    cursor: pointer;
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    5% {
      opacity: 0.2;
    }
    10% {
      opacity: 1;
    }
    15% {
      opacity: 0.5;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .scare-content img {
    display: block;
  }

  #scare-overlay {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s ease;
    z-index: 101;
  }

  #scare-overlay .scare-content {
    font-size: 8rem;
    color: white;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 101;
  }

  /* “Jumpscare” moment */
  #scare-overlay.show .scare-content {
    opacity: 1;
    transform: scale(1.4);
    z-index: 101;
  }

  /* Section: Currently showing */

  .btnSeeAllMovies {
    width: auto;
    height: 7vh;
    top: 6%;
    right: 3%;
  }

  .currentPosterGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 3fr));
    grid-template-rows: 1fr;
    overflow: visible;
    gap: 80px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .currentPosterContainer {
    width: 100%;
  }

  .currentPoster {
    border-radius: 20px;
  }

  /* Offers Section */

  .offersSection {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .offersFlex {
    display: flex;
    align-items: center;
  }

  .offerGrid {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    width: 45%;
    margin-bottom: 8%;
  }

  .textPopcorn {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .textSoda {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .offersIcon {
    width: 90%;
    transform: translate(-50%, -110%);
    top: 20%;
  }

  .seeAllOffers {
    width: 45%;
  }

  button.seeAllOffers {
    width: 15vw;
    height: 6vh;
  }

  /* Coming soon section */
  .comingGridMobile {
    display: none;
  }

  .comingSection {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  .comingGridDesktop {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(5, minmax(80px, 3fr));
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70vw;
  }

  .comingContainerDesktop {
    position: relative;
  }

  .comingPosterDesktop {
    width: 100%;
    aspect-ratio: 3/5;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }

  /* Newsletter */

  .btnSignUp {
    width: 10vw;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
