/* MEDIA QUERY */
@media screen and (width > 1020px) {
  /* General rules */
  h2,
  h4,
  .current p {
    font-size: 2rem;
  }

  h2 {
    margin-top: 5%;
  }

  /* Header */
  .headerImage {
    height: 60vh;
  }

  .headerLogo {
    transform: translate(-50%, -35%);
  }

  /* Navbar */
  .navLogo {
    height: 8vh;
    width: auto;
  }

  .navbarLeft {
    width: 50vw;
  }

  .navbarRight {
    width: 50vw;
  }

  /* Current Section */

  .current {
    width: 80vw;
  }

  .btnSeeAllMovies {
    width: auto;
    height: 7vh;
    top: 7%;
    right: 0%;
  }

  .currentPosterGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 3fr));
    grid-template-rows: 1fr;
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: visible;
    scroll-snap-type: none;

    gap: 80px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .currentPosterContainer {
    min-width: 10vw;
    width: 15vw;
    scroll-snap-align: none;
  }

  .currentPosterGrid .leftArrow {
    left: -8%;
  }

  .currentPosterGrid .rightArrow {
    right: -8%;
  }

  .currentPoster {
    border-radius: 20px;
  }

  /* Offers Section */

  .offersSection {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .offersFlex {
    display: flex;
    align-items: center;
  }

  .offerGrid {
    width: 45%;
    margin-bottom: 8%;
  }

  .seeAllOffers {
    width: 45%;
  }

  button.seeAllOffers {
    width: 15vw;
    height: 8vh;
  }

  /* Coming soon section */
  .comingSection {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .comingGrid {
    gap: 80px;
    grid-template-columns: repeat(3, minmax(80px, 3fr));
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 70vw;
  }

  /* Newsletter */

  .btnSignUp {
    width: 10vw;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  /* Footer Section */

  .footerGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    gap: 80px;
    margin-left: 15%;
    margin-right: 15%;
    align-items: start;
    margin-top: 5%;
  }

  .footerBackground {
    height: 42vh;
    object-fit: fill;
  }

  .footerLogo {
    height: 7vh;
  }
}
