/* Header */
header {
  width: 100vw;
  aspect-ratio: 4/2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("assets/weapons-hero.png");
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
header h1 {
  font-family: "Balthazar", serif;
  font-size: 40px;
  align-items: baseline;
  color: var(--primaryLightrey);
  padding-left: 3%;
}

hr {
  width: 70vw;
}

/* Movie presentation SECTION */
div.moviePresentation {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
  width: 100vw;
}

.POSTER {
  width: 50%;
  display: flex;
  justify-content: center;
}
.POSTER img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 3 / 4;
  width: 100%;
  height: 100%;
  max-height: 399.75px;
  max-width: 299.81px;

}

/* Movie Facts SECTION */
section.factMovie {
  display: flex;
  justify-content: center;
}

div.factMovie {
  background-color: var(--accentGrey);
  border-radius: 60px;
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 350px;
  height: 300px;
  margin: 40px 0;
box-shadow: -1px 0px 6px 4px rgba(0, 0, 0, 0.48) inset;
}

.factHeader,
.factText {
  width: 35%;
}

.factHeader p,
.factText p {
  text-align: start;
}

.TEXT {
  align-items: center;
  width: 50%;
  padding: 20px 0 20px 20px;
}
.aboutMovie {
  text-align: left;
  line-height: 1.5;
}

/* Tickets section */

.ticketsHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 1rem;
}

section.tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0 10%;
}

.screeningsButton {
  display: block;
  background-color: var(--accentGrey);
  color: var(--primaryLightrey);
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.225);
  font-size: 12px;
  padding: 12px 18px;
}

div.date {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 10%;
}

p.date {
  margin-top: 7%;
  margin-bottom: 0;
  font-size: 20px;
}

.ticket {
  background-color: #836447;
  width: 85vw;
  min-height: 145px;
  height: 15vh;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 20px;
  place-items: center;
}

.ticketText {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

.ticketText p {
  text-align: start;
  margin-top: 0;

}
.ticketTitle {
  font-size: 28px;
}

.ticketText span {
  background-color: var(--primaryDark);
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
}

p.startTime {
  margin-left: -25px;
  font-size: 20px;
}
.borderBox {
  width: 100%;
  height: 98%;
  border-left: 1px dashed var(--darkRed);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticketContainer {
  position: relative;
}

.dotLeft {
  background-color: var(--primaryDark);
  z-index: 3;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  aspect-ratio: 1/2.5;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.dotRight {
  background-color: var(--primaryDark);
  z-index: 3;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  aspect-ratio: 1/2.5;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}



/* ImgFromMovieSECTION */
section.imgFromMovie {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5% 0 10%;
}

img.imgFromMovie {
  background-color: grey;
  width: 70vw;
  aspect-ratio: 16/9;
  border-radius: 20px;
}

.imgFromMovie .leftArrow {
  position: absolute;
  top: 50%;
  left: 5%;
}

.imgFromMovie .rightArrow {
  position: absolute;
  top: 50%;
  right: 5%;
}

.leftArrow,
.rightArrow {
  width: 3vw;
   padding: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftArrow img,
.rightArrow img {
  width: 3vw;
  object-fit: contain;
}
h3 {
  font-size: 20px;
}


/* FOOTER section */
/*
footer {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.footerGrid {
  margin-top: 20%;
  text-align: center;
}

.footerBackground {
  z-index: -2;
  width: 100vw;
  height: 72vh;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footerDiv {
  margin-bottom: 15%;
}

.copyright {
  text-align: start;
  margin-left: 5vw;
}

.footerLogo {
  width: 20vw;
  height: 5vh;
  object-fit: cover;
  margin-left: 5vw;
} */

.buyTicket {
  padding: 10% 0;
  width: 8vw;
  border-radius: 15px;
  border: none;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.225);
  color: var(--primaryLightrey);
}

button.buyTicket {
  max-width: 150px;
  min-width: 80px;
  height: auto;
}
button.buyTicket:hover {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.225);
  transform: scale(1.1);
  transition: all ease 0.2;
}

.underImages {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2%;

  margin-bottom: 8%;
}

.photo {
  width: 10vw;
  aspect-ratio: 4/3;
  background-color: var(--accentGrey);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.underImages img {
  width: 10vw;
aspect-ratio: 4/3;
border-radius: 10px;
}

/* MEDIA QUERY 800 */
@media screen and (width > 800px) {
  .ticket {
    width: 80vw;
    height: 25vh;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

/* MEDIA QUERY 1020*/
@media screen and (width > 1020px) {

  header h1 {
    font-size: 70px;
  }
  /* Movie presentation section */
  .desktopFlex {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 50px;
    height: 500px;
    padding: 3rem;
    margin: 0 5%;
  }

  section.moviePresentation {
    height: 400px;
  }

  div.moviePresentation {
    padding: 0;
    /* margin-left: 3rem; */
  }

  .POSTER {
    min-width: 40%;
  }
  .POSTER img {
    aspect-ratio: 3/4;
    max-height: 400px;
    min-width: 189.9px;
    min-height: 253.2px;
  }

  .TEXT {
    max-height: 100%;
    width: 100%;
  }
  p.aboutMovie {
    width: auto;
    font-size: 25px;
    margin-left: 10px;
    max-width: 320px;
  }

  .underImages {
    display: flex;
  }
  /* Ticket section */
  .ticketsHeader {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .screeningsButton {
    position: absolute;
    right: 15%;
    font-size: 18px;
  }

  div.date {
    padding-left: 15%;
  }
  p.date {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .ticketTitle {
    font-size: 40px;

  }

  .ticket {
    width: 70vw;
    height: 28vh;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .dotLeft {
    width: 40px;
    aspect-ratio: 1/1.7;
    left: -0.2%;
  }

  .dotRight {
    width: 40px;
    aspect-ratio: 1/1.7;
    left: 100.2%;
  }
  .buyTicket {
    padding: 5% 0;
    font-size: 20px;
  }

  /* ImgFromMovie SECTION w slideshow */
 section.imgFromMovie {
  margin-bottom: 2%;
 }

  img.imgFromMovie {
    width: 50vw;
  }

  .imgFromMovie .leftArrow {
    left: 17%;
  }

  .imgFromMovie .rightArrow {
    right: 17%;
  }

  #slideshow {
    transition: opacity 0.5s ease;
  }

  h3 {
  font-size: 30px;
}
}