/* General rules specific for this page */
h2 {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

hr {
  width: 70vw;
}

/* HEADER */
header.img {
  max-width: 100%;
}

header {
  position: relative;
}

.headerLogo {
  width: 10%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -35%);
}

.headerImage {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* Animation: Flicker button */
.flicker {
  display: none;
}

.scare-content img {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .flicker {
    display: none;
  }
}

video {
  display: none;
}

/* Currently showing SECTION */

.currentSection {
  width: 100vw;
  background-color: var(--accentGrey);
  background-image: linear-gradient(to bottom, var(--primaryDark), var(--accentGrey), var(--primaryDark));
  padding-bottom: 5%;
}

.current {
  margin: 0 auto;
  position: relative;
}

.btnSeeAllMovies {
  position: absolute;
  top: 10%;
  right: 3%;
  background-color: var(--primaryDark);
  border: none;
  border-radius: 10px;
  color: var(--primaryLightrey);
  padding-left: 3%;
  padding-right: 3%;
}

.currentPosterGrid {
  display: flex;
  gap: 30px;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;

  /* För karusell */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.currentPosterGrid::-webkit-scrollbar {
  display: none;
}

.currentPosterContainer {
  min-width: 60vw;
  scroll-snap-align: center;
}

.currentPosterGrid a {
  position: relative;
}

img.currentPoster {
  aspect-ratio: 3/5;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.bloodsplatter {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
  z-index: 1;
}

h4 {
  margin-top: 20%;
  margin-bottom: 0;
  font-size: 25px;
}

.current h2 {
  padding-top: 5%;
}

.current p {
  color: var( --accentRed);
}

/* OFFERS SECTION */

.offersSection {
  width: 100vw;
  background-image: url("assets/blackborder.png");
  background-repeat: no-repeat;
}

.offerGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-template-rows: 1fr;
  gap: 80px;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 25%;
}

.offer {
  background-color: var(--lightOrange);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  border-radius: 20px;
  border: 1px solid white;
}

.popcorn {
  width: 80%;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.sodaCups {
  width: 80%;
  position: absolute;
  bottom: -2%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.textPopcorn {
  margin-top: 1rem;
}

.textSoda {
  margin-top: 0.5rem;
}

div.seeAllOffers {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  position: relative;
}

div.seeAllOffers.hover:hover {
  box-shadow: none;
}

.offersIcon {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 0;
}

button.seeAllOffers {
  background-color: var(--darkOrange);
  color: var(--primaryLightrey);
  font-size: 1.2rem;
  width: 30vw;
  height: 7vh;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid white;
}

/* Coming soon SECTION */

.comingGridDesktop {
  display: none;
}

.comingSection {
  position: relative;
  width: 100vw;
  background-image: linear-gradient(to bottom, var(--primaryDark), var(--accentGrey), var(--primaryDark));
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 10%;
}

.comingGridMobile {
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 3fr));
  grid-template-rows: 1fr;
  gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
  position: relative;
}

.comingContainer {
  position: relative;
}

.comingPoster {
  width: 100%;
  aspect-ratio: 3/5;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.4s ease, opacity 0.4s ease;
  position: relative;
  z-index: 2;
}

.comingSection .leftArrowIndex {
  position: absolute;
  top: 45%;
  left: -10%;
  border: none;
  background-color: var(--accentGrey);
}

.leftArrowIndex img,
.rightArrowIndex img {
  width: 3vw;
  aspect-ratio: 1;
}

.comingSection .rightArrowIndex {
  position: absolute;
  top: 45%;
  right: -10%;
  border: none;
  background-color: var(--accentGrey);
}

/* NEWSLETTER SECTION */

.newsletterSection {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.newletterContainer {
  width: 100%;
}

label {
  color: var(--primaryLightrey);
  text-align: center;
}

input {
  margin-right: 6%;
  height: 2.5rem;
  width: 12rem;
  margin-top: 1%;
  margin-bottom: 3%;
}

.btnSignUp {
  color: var(--primaryLightrey);
  border: none;
  border-radius: 5px;
  padding: 2%;
}

.hrLower {
  margin-bottom: 7%;
}
