/* Color scheme: */

:root {
  --primaryDark: #171414;
  --accentGrey: #1e1c1c;
  --primaryLightrey: #e3e3e3;
  --darkRed: #2f0000;
  --bloodRed: #840404;
  --accentRed: #b80000;
  --darkOrange: #b64000;
  --lightOrange: #db7210;
}

/* General rules */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primaryDark);
}

main {
  position: relative;
}

h2,
h3,
h4,
p,
a,
span {
  color: var(--primaryLightrey);
  text-align: center;
}

/* h2 {
  margin-top: 20%;
} */

button {
  background-color: var(--accentRed);
}

.headerPoster {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
}

hr {
  width: 70vw;
}

/* NAVBAR */
nav {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--accentRed);
  padding-left: 3%;
  padding-right: 3%;
}

.navLogo {
  width: 10vw;
  height: 3vh;
  object-fit: cover;
}

/* Movie presentation SECTION */
.moviePresentation {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

div.moviePresentation {
  max-height: 350px; 
}

.smallPoster {
  background-color: grey;
  width: 45%;
  aspect-ratio: 9/16;
  border-radius: 10px;


}

p.aboutMovie {
  width: 45%;
  height: auto;
  text-align: start;
}

/* Movie Facts SECTION */
section.factMovie {
  display: flex;
  justify-content: center;
}

div.factMovie {
  background-color: var(--accentGrey);
  border-radius: 20px;
  width: 350px;
  height: 302px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3%;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.factHeader,
.factText {
  width: 35%;
}

.factHeader p,
.factText p {
  text-align: start;
}

/* Tickets section */
section.tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screeningsButton {
  display: block;
  width: 120px;
}

div.date {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: 20%;
}

p.date {
  margin-top: 7%;
  margin-bottom: 0;
}

.ticket {
  background-color: #927860;
  width: 80vw;
  height: 12vh;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 20px;
  place-items: center;
}

.ticketText {
  width: 70%;
}

.ticketText p {
  text-align: start;
  margin-top: 0;
}

.ticketText span {
  background-color: var(--primaryDark);
  padding: 5%;
  font-size: 0.7rem;
  border-radius: 5px;
}

.borderBox {
  width: 100%;
  height: 98%;
  border-left: 1px dashed var(--darkRed);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticketContainer {
  position: relative;
}

.dotLeft {
  background-color: var(--primaryDark);
  z-index: 3;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  aspect-ratio: 1/2.5;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.dotRight {
  background-color: var(--primaryDark);
  z-index: 3;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  aspect-ratio: 1/2.5;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

section.tickets {
  margin-bottom: 10%;
}

/* ImgFromMovieSECTION */
section.imgFromMovie {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

img.imgFromMovie {
  background-color: grey;
  width: 70vw;
  aspect-ratio: 16/9;
}

.imgFromMovie .leftArrow {
  position: absolute;
  top: 50%;
  left: 5%;
}

.imgFromMovie .rightArrow {
  position: absolute;
  top: 50%;
  right: 5%;
}

/* FOOTER section */

footer {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.footerGrid {
  margin-top: 20%;
  text-align: center;
}

.footerBackground {
  z-index: -2;
  width: 100vw;
  height: 72vh;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footerDiv {
  margin-bottom: 15%;
}

.copyright {
  text-align: start;
  margin-left: 5vw;
}

.footerLogo {
  width: 20vw;
  height: 5vh;
  object-fit: cover;
  margin-left: 5vw;
}

/* MEDIA QUERY */
@media screen and (width > 1020px) {
  /* General rules */
  h2,
  h4,
  .current p {
    font-size: 2rem;
  }

  h2 {
    margin-top: 5%;
  }

  .headerImage {
    height: 60vh;
  }

  /* Navbar */
  .navLogo {
    width: 12vw;
    height: 8vh;
  }

  /* Movie presentation section */
  section.desktopFlex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 100px;
    height: 500px;
  }

  .desktopFlex {
    display: flex;
    align-items: center;
    margin: 0 40px;
  }

  .moviePresentation {
      /* width: 70%; */
    
    gap: 60px;
  }

  div.moviePresentation {
    width: 100%;
    margin: 0;
  }

  .smallPoster {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  p.aboutMovie {
    width: 100%;
    font-size: 1.2rem;
    max-width: 300px;
  }

  div.factMovie {
    /* width: 100%;
    height: 70%; */
    margin: 0;

  }

  /* Ticket section */

  div.date {
    margin-left: 40%;
  }

  .ticket {
    width: 60vw;
    height: 25vh;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .dotLeft {
    width: 40px;
    aspect-ratio: 1/1.7;
    left: -0.2%;
  }

  .dotRight {
    width: 40px;
    aspect-ratio: 1/1.7;
    left: 100.2%;
  }

  .buyTicket {
    padding: 2%;
    width: 8vw;
    border-radius: 15px;
    color: var(--primaryLightrey);
  }

  /* ImgFromMovie SECTION w slideshow */
  img.imgFromMovie {
    width: 50vw;
  }

  .imgFromMovie .leftArrow {
    left: 17%;
  }

  .imgFromMovie .rightArrow {
    right: 17%;
  }

  #slideshow {
    transition: opacity 0.5s ease;
  }

  /* Footer Section */
  .footerGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    gap: 80px;
    margin-left: 15%;
    margin-right: 15%;
    align-items: start;
    margin-top: 5%;
  }

  .footerBackground {
    height: 60vh;
  }

  .footerLogo {
    width: 10vw;
    height: 10vh;
  }
}
