/* Color scheme: */

:root {
  --primaryDark: #171414;
  --accentGrey: #1e1c1c;
  --primaryLightrey: #e3e3e3;
  --darkRed: #2f0000;
  --bloodRed: #840404;
  --accentRed: #b80000;
  --darkOrange: #b64000;
  --lightOrange: #db7210;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primaryDark);
}

main {
  position: relative;
}

h2,
h3,
h4,
p,
a,
span,
label {
  color: var(--primaryLightrey);
  text-align: center;
}

h2 {
  margin-top: 10%;
  margin-bottom: 10%;
}

button {
  background-color: var(--accentRed);
}

header.img {
  max-width: 100%;
}

hr {
  width: 70vw;
}

/* HEADER */

header {
  position: relative;
}

.headerLogo {
  width: 10%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -35%);
}

.headerImage {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* NAVBAR */
nav {
  /* width: 100vw; */
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accentRed);
  padding-left: 3%;
  padding-right: 3%;
  /* padding-right: 20%; */
}

.navbarLeft {
  width: 30vw;
}

.navbarRight {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}

.navLogo {
  height: 5vh;
  width: auto;
  object-fit: cover;
}

/* Currently showing SECTION */

.currentSection {
  width: 100vw;
  background-color: var(--accentGrey);
  padding-bottom: 5%;
}

.current {
  margin: 0 auto;
  position: relative;
}

.btnSeeAllMovies {
  position: absolute;
  top: 6%;
  right: 3%;
}

.currentPosterGrid .leftArrow {
  position: absolute;
  top: 50%;
  left: -10%;
}

.currentPosterGrid .rightArrow {
  position: absolute;
  top: 50%;
  right: -10%;
}

.currentPosterGrid,
.currentTextGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 3fr));
  grid-template-rows: 1fr;
  gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.currentPosterGrid a {
  position: relative;
}

img.currentPoster {
  aspect-ratio: 3/5;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.bloodsplatter {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
  z-index: 1;
}

h4 {
  margin-top: 20%;
  margin-bottom: 0;
}

.current h2 {
  padding-top: 5%;
}

/* OFFERS SECTION */

.offerGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-template-rows: 1fr;
  gap: 80px;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 25%;
  /* margin-bottom: 8%; */
}

.offer {
  background-color: var(--lightOrange);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  border-radius: 20px;
  border: 1px solid white;
}

.popcorn {
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.sodaCups {
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.offer p {
  margin-top: 8px;
}

div.seeAllOffers {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  position: relative;
}

.offersIcon {
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 0;
}

button.seeAllOffers {
  background-color: var(--darkOrange);
  color: var(--primaryLightrey);
  font-size: 1.2rem;
  width: 30vw;
  height: 5vh;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid white;
}

/* Coming soon SECTION */

.comingSection {
  position: relative;
  width: 100%;
  background-color: var(--accentGrey);
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 10%;
}

.comingGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 3fr));
  grid-template-rows: 1fr;
  gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
  position: relative;
}

.comingContainer {
  position: relative;
}

.comingPoster {
  width: 100%;
  aspect-ratio: 3/5;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.4s ease, opacity 0.4s ease;
  position: relative;
  z-index: 2;
}

.comingSection .leftArrow {
  position: absolute;
  top: 50%;
  left: -10%;
}

.comingSection .rightArrow {
  position: absolute;
  top: 50%;
  right: -10%;
}

/* NEWSLETTER SECTION */

.newsletterSection {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

input {
  margin-right: 5%;
  height: 2.5rem;
  width: 12rem;
}

/* FOOTER SECTION */
footer {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.footerGrid {
  margin-top: 20%;
  text-align: center;
}

.footerBackground {
  z-index: -2;
  width: 100vw;
  height: 72vh;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footerDiv {
  margin-bottom: 15%;
}

.copyright {
  text-align: start;
  margin-left: 5vw;
}

.footerLogo {
  height: 6vh;
  object-fit: cover;
  margin-left: 5vw;
}

/* MEDIA QUERY */
@media screen and (width > 1020px) {
  /* General rules */
  h2,
  h4,
  .current p {
    font-size: 2rem;
  }

  h2 {
    margin-top: 5%;
  }

  /* Header */
  .headerImage {
    height: 60vh;
  }

  .headerLogo {
    transform: translate(-50%, -35%);
  }

  /* Navbar */
  .navLogo {
    height: 8vh;
    width: auto;
  }

  .navbarLeft {
    width: 50vw;
  }

  .navbarRight {
    width: 50vw;
  }

  /* Current Section */

  .current {
    width: 80vw;
  }

  .btnSeeAllMovies {
    width: 7vw;
    height: 7vh;
    top: 7%;
    right: 0%;
  }

  .currentPosterGrid,
  .currentTextGrid {
    gap: 80px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .currentPosterGrid .leftArrow {
    left: -8%;
  }

  .currentPosterGrid .rightArrow {
    right: -8%;
  }

  .currentPoster {
    border-radius: 20px;
  }

  /* Offers Section */

  .offersSection {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .offersFlex {
    display: flex;
    align-items: center;
  }

  .offerGrid {
    width: 45%;
    margin-bottom: 8%;
  }

  .seeAllOffers {
    width: 45%;
  }

  button.seeAllOffers {
    width: 15vw;
    height: 8vh;
  }

  /* Coming soon section */
  .comingSection {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .comingGrid {
    gap: 80px;
    grid-template-columns: repeat(3, minmax(80px, 3fr));
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 70vw;
  }

  /* Footer Section */

  .footerGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    gap: 80px;
    margin-left: 15%;
    margin-right: 15%;
    align-items: start;
    margin-top: 5%;
  }

  .footerBackground {
    height: 60vh;
  }

  .footerLogo {
    height: 7vh;
  }
}
